* {
  font-family: "Inter", sans-serif;
}
.login__bg {
  background-image: url(https://images.unsplash.com/photo-1577563908411-5077b6dc7624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  height: 91.2vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  width: 37vw;
}
.loginContainer {
  display: flex;
  flex-direction: row;
  padding-left: 5vw;
}
.loginError {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 0.4vw;
  border-radius: 0.2rem;
}
.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 9em;
}
.loginForm {
  display: flex;
  flex-direction: column;
}
.loginBtn {
  width: 5em;
  height: 2em;
  background-color: rgb(62, 157, 189);
  color: white;
  border: none;
  border-radius: 0.2em;
  align-items: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
.formText {
  margin-bottom: 0.7em;
  font-size: 1.2rem;
  font-weight: 500;
}
.loginForm input {
  margin-bottom: 0.3em;
  border-radius: 0.2em;
  border: none;

  border-color: rgb(208, 241, 241);
  height: 1.8em;
  padding: 0.5rem;
}
.loginInput {
  background-color: rgb(208, 241, 241);
  width: 32vw;
}
.mutedText {
  margin-bottom: 1.2em;
  font-weight: 200;
  font-size: 0.8rem;
}
.signupForm {
  text-align: center;
}